# Iris Flowers Classification Using Supervised Learning:

# Author: Rajesh Balouda

# LETS GROW MORE

# Data Science Intern May 2022

In [1]:
#importing libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score

In [3]:
#importing dataset
df  =pd.read_csv('Iris.csv')

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Understanding Data

In [5]:
#shape of data
df.shape

(150, 6)

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
#taking care of missing values
if df.isnull().values.any():
    print('there is missing values')
else:
    print('There is no null value')

There is no null value

In [8]:
#get correlation between columns
df.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

## there is correlation between columns that affect iris dataset

# Data preprocessing for model training

In [9]:
#define independant and dependant variable
x=df.iloc[:,1:-1].values  #we not include id column in features because id column has no impact on dataset 
y = df.iloc[:,-1].values

In [10]:
x.shape,y.shape

((150, 4), (150,))

In [11]:
#split dataset into training set and test set
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.15,random_state =3)

In [12]:
#standardize feature 
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

# Training model

## we use random forest classifier for training model

In [13]:
# training model using random forest classifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [14]:
#predict the result
y_pred = classifier.predict(X_test)

# Evaluate the Model

In [15]:
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[9 0 0]
 [0 6 0]
 [0 0 8]]

1.0

# Thank You